extends layout

block content
  if gallery && gallery.length
    #homeHeadSlider.carousel.slide.home-slider(data-bs-ride='carousel')
      if gallery.length > 1
        .carousel-indicators
          each item, index in gallery
            button.item-bb(type='button' data-bs-target='#homeHeadSlider' data-bs-slide-to=index aria-current='true' aria-label='Slide '+index)

      .carousel-inner
        each item, index in gallery
          .carousel-item.item-b(data-bs-interval='10000')
            if item.url
              a.slider-link.float-end(href=item.url target="_blank")
                i.fa-solid.fa-arrow-up-right-from-square
            .bg-blur-home-image(style="background-image: url("+item.image+");")
            img.d-block.w-100.container-home-gallery(src=item.image alt=item.name)
            .carousel-caption
              h3.marck-script= item.name
              p.mh-300.text-justify.text-ellipsis= item.description

      if gallery.length > 1
        button.carousel-control-prev(type='button' data-bs-target='#homeHeadSlider' data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#homeHeadSlider' data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next

    hr

  if anouncements.length
    .col-xs-12.col-sm-8
      .carousel.slide#anouncements(data-bs-ride="carousel")
        .carousel-inner
          each item in anouncements
            .carousel-item.anouncement-box.item-a
              img.d-block.img-cover.orange-border(src=item.image )
              .carousel-caption.yellow-text.text-block-anouncement
                h3.marck-script= item.name
                p.mh-300.text-justify.text-ellipsis= item.description
                .row
                  .col-12
                    a.orange-button(href='/services/' + item.path) Запись
        if anouncements.length > 1
          button.carousel-control-prev(type="button" data-bs-target="#anouncements" data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
          button.carousel-control-next(type="button" data-bs-target="#anouncements" data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next

  p.text-justify.col-12 !{text}

  .col-12.bg-light-blue.text-dark-blue#contacts
    h1.text-center СВЯЖИТЕСЬ С НАМИ
    #coords.d-none= contacts.coords
    .row
      .col-xs-12.col-sm-6.square-block
        #map.square-box
      .col-xs-12.col-sm-6
        h5.text-center= contacts.address
        h5.text-center= contacts.email
        h5.text-center Телефон: #{contacts.phone}

  script.
    ymaps.ready(function () {
      var location = coords.innerText.split(',')
      var myMap = new ymaps.Map('map', {
              center: location,
              zoom: 13
          }, {
              searchControlProvider: 'yandex#search'
          }),

          // Создаём макет содержимого.
          MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
              '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
          ),

          myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
              hintContent: 'Мы здесь',
          }, {
              // Опции.
              // Необходимо указать данный тип макета.
              iconLayout: 'default#image',
              // Своё изображение иконки метки.
              iconImageHref: '/images/map.svg',
              // Размеры метки.
              iconImageSize: [50, 50],
              // Смещение левого верхнего угла иконки относительно
              // её "ножки" (точки привязки).
              iconImageOffset: [-22, -50]
          })
      myMap.geoObjects.add(myPlacemark);
    });

