doctype html
html(lang='ru')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="keywords" content="вера надежда любовь, ано, ресурсный центр, ментальные нарушения, фонд, благотворительный фонд, центр")
    meta(name="author" content="centervnl")
    title= title
    link(hrel="preload" href="/fonts/Montserrat-Regular.woff" as="style")
    link(hrel="preload" href="/fonts/Montserrat-Bold.woff" as="style")
    link(hrel="preload" href="/fonts/Montserrat-Medium.woff" as="style")
    style(type='text/css').
      @font-face {
      font-family: Montserrat;
      src: url(/fonts/Montserrat-Regular.woff) format("woff");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      }
      @font-face {
      font-family: Montserrat;
      src: url(/fonts/Montserrat-Medium.woff) format("woff");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
      }
      @font-face {
      font-family: Montserrat;
      src: url(/fonts/Montserrat-SemiBold.woff) format("woff");
      font-weight: 600;
      font-style: normal;
      font-display: swap;
      }
      @font-face {
      font-family: Montserrat;
      src: url(/fonts/Montserrat-Bold.woff) format("woff");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
      }
    link(rel='stylesheet', href='/css/chatbot.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    script(src='/javascripts/metrika.js')

  body
    include ./includes/mixins
    .root-wrapper
      .wrapper
        header.header
          nav.navbar.navbar-expand-xl
            .container-fluid
              a.navbar-brand(href='https://centervnl.ru/')
                img(src='/img/logo.svg' alt='Логотип вера надежда любовь с птицей и птенцом' width="82" height="72")
              
              button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarToggler' aria-controls='navbarToggler' aria-expanded='false')
                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' alt="Выпадающее меню")
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M2.3999 14.1064H21.5999V15.8643H2.3999V14.1064Z' fill='#30333A')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M2.3999 8.13477H21.5999V9.89257H2.3999V8.13477Z' fill='#30333A')

              #navbarToggler.collapse.navbar-collapse
                .header__social
                  a.header__social-item(href="https://vk.com/centervnl" target="_blank")
                    img(src='/icons/header/vk_orange.svg' alt='vk')
                  a.header__social-item(href="https://t.me/obuchnueludi" target="_blank")
                    img(src='/icons/header/telegram_orange.svg' alt='telegram')
                  a.header__social-item(href="https://www.youtube.com/channel/UCxTHZRfxPbSh-aTchZaAmOQ?view_as=subscriber" target="_blank")
                    img(src='/icons/header/youtube_orange.svg' alt='youtube')
                ul.navbar-nav.me-auto.ms-4
                  li.nav-item.dropdown
                    a.nav-link.header__links-list(href='https://centervnl.ru/about/') О нас
                    ul.dropdown-menu
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/about/list') Кто мы?
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/team/') Наша команда
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/docs/') Документы и отчеты
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/wins/') Наши победы
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/partners/') Наши партнеры
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/press/') СМИ о нас
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/contacts/') Контакты
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/gallery/') Фото и видео
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/projects/') Гранты и субсидии
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/provider/') Поставщик социальных услуг
                  li.nav-item.dropdown
                    a.nav-link.header__links-list(href='https://centervnl.ru/programs/') Что мы делаем
                    ul.dropdown-menu
                      each item in programs
                        li
                          a.dropdown-item.header__links-dropped(href='https://centervnl.ru/programs/'+item.path)= item.name
                  li.nav-item.dropdown
                    a.nav-link.header__links-list(href='https://centervnl.ru/help/') Как помочь
                    ul.dropdown-menu
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/help/donate/') Сделать пожертвование
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/help/corporate/') Стать корпоративным партнером
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/help/volunteer/') Стать волонтёром
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/help/info/') Стать информационным партнером
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/help/museum/') Помочь экспонатами музею
                      li
                        a.dropdown-item.header__links-dropped(href='https://centervnl.ru/help/million-prizov/') Пожертвовать баллы на сайте «Активный гражданин»
                  li.nav-item
                    a.nav-link.header__links-list(href='https://centervnl.ru/parents/') Родителям
                  li.nav-item
                    a.nav-link.header__links-list(href='https://centervnl.ru/library/') База знаний
                  li.nav-item
                    a.nav-link.header__links-list(href='https://centervnl.ru/news/') Новости
                  li.nav-item
                    a.nav-link.header__links-list(href='https://centervnl.ru/services/') Мероприятия
                  li.nav-item.dropdown
                    a.nav-link.header__links-list(href='https://centervnl.ru/shop/') Магазин
                    ul.dropdown-menu
                      each item in shops
                        li
                          a.dropdown-item.header__links-dropped(href='https://centervnl.ru/shop/'+item.path)= item.name


                .d-flex.w-auto.justify-content-between
                  .header__icons.d-none
                    a.header__icons-item(href='#')
                      img(src='/icons/header/man.svg' alt='Профиль')
                    a.header__icons-item(href='#')
                      img(src='/icons/header/search.svg' alt='Поиск')
                  a.button.button_blue(href='https://centervnl.ru/help/donate/') Помочь
        #up          
        .container.first-container
          block content

      
      .app-btn.btn-up.btn-up_hide
      .app-btn.chatbot__btn
      include includes/chatbot
    
      footer.footer
        .container
          .row
            .col-12.col-lg-3.text-lg-center
              - var tel = contacts.phone.replace(/[^0-9+]/gi,'')
              .card-group.d-flex.d-lg-none
                a(href='https://centervnl.ru/')
                  img.footer__logo(src='/img/logo.svg' alt='Логотип вера надежда любовь с птицей и птенцом' loading="lazy")
                .d-flex.d-lg-none.justify-content-around.col.align-items-center
                  a.footer__social-link(href="https://vk.com/centervnl" target="_blank")
                    img.footer__social-item(src='/icons/footer/vk_black.svg' alt='vk' loading="lazy")
                  a.footer__social-link(href="https://t.me/obuchnueludi" target="_blank")
                    img.footer__social-item(src='/icons/footer/telegram_black.svg' alt='telegram' loading="lazy")
                  a.footer__social-link(href="https://www.youtube.com/channel/UCxTHZRfxPbSh-aTchZaAmOQ?view_as=subscriber" target="_blank")
                    img.footer__social-item(src='/icons/footer/youtube_black.svg' alt='youtube' loading="lazy")
              a.d-none.d-lg-block(href='https://centervnl.ru/')
                img.footer__logo-lg.d-inline-block(src='/img/logo.svg' alt='Логотип вера надежда любовь с птицей и птенцом' loading="lazy")
              .d-none.footer__social.d-lg-flex.justify-content-between
                a.footer__social-link(href="https://vk.com/centervnl" target="_blank")
                  img.footer__social-item(src='/icons/footer/vk_black.svg' alt='vk' loading="lazy")
                a.footer__social-link(href="https://t.me/obuchnueludi" target="_blank")
                  img.footer__social-item(src='/icons/footer/telegram_black.svg' alt='telegram' loading="lazy")
                a.footer__social-link(href="https://www.youtube.com/channel/UCxTHZRfxPbSh-aTchZaAmOQ?view_as=subscriber" target="_blank")
                  img.footer__social-item(src='/icons/footer/youtube_black.svg' alt='youtube' loading="lazy")

            .col-12.col-lg-3
              .footer__title.d-block.d-lg-none
              a.footer__title(href='https://centervnl.ru/programs/') Что мы делаем
              each program, index in programs
                if index % 2 == 0
                  a.footer__item(href='https://centervnl.ru/programs/'+program.path)= program.name
            .col-12.col-lg-3
              .footer__title.d-none.d-lg-block.footer__column
              each program, index in programs
                if index % 2 == 1
                  a.footer__item(href='https://centervnl.ru/programs/'+program.path)= program.name
            .col-12.col-lg-3
              .footer__title.d-block.d-lg-none
              a.footer__title(href='https://centervnl.ru/contacts/') Контакты
              .footer__item
                
                a.footer__link(href='tel:'+tel)
                  img.footer__link-image(src='/icons/footer/phone.svg' alt='Телефон') 
                  | #{contacts.phone}
              .footer__item
                a.footer__link(href='mailto:'+contacts.email)
                  img.footer__link-image(src='/icons/footer/mail.svg' alt='Электронная почта') 
                  | #{contacts.email}
              .footer__item
                .footer__link
                  img.footer__link-image(src='/icons/footer/geo.svg' alt='Адрес') 
                  | #{contacts.address}
              //- a.footer__item(href='https://nuzhnapomosh.ru/funds/vera-nadejda-lyubov/' target='_blank')
                img.col-12(src='/icons/footer/np.svg' alt='Нам доверяет нужна помощь')
          .row
            .col-12.col-lg-9.offset-lg-3
              .footer__divider
              .footer__end.mb-3 © 2017-#{moment().format('YYYY')} АНО "Ресурсный центр "Вера. Надежда. Любовь"

    
    script(src='/javascripts/jquery-3.6.3.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/button.js')
    script(src='/javascripts/chatbot.js')  
    script(src='/javascripts/rollup.js')  
    script(src="/javascripts/modal.js")
    block scripts