extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col.about__title.title Новости

      .row.mx-xl-5.about__wrapper
        each post in posts
          .news__item.row.pb-2.pt-2
            if post.image
              .col-12.col-lg-5.news__img
                img.news__image(src=post.image alt=post.name)
            .col-12.col-lg.d-flex.flex-column.justify-content-between.news__text
              .news__date= post.date
              .news__subtitle= post.name
              p.std__descr.rows-4= post.description
              a.news__link(href=post.path)
                | Подробнее
                svg.news__link-image(width='20' height='5' viewBox='0 0 20 5' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path.news__link-image(fill-rule='evenodd' clip-rule='evenodd' d='M17.1044 5L19.6044 2.5L17.1044 0V2H0V3H17.1044V5Z' fill='#FFA556')
  
  //- h1= title
  //- hr
  //- if posts && posts.length
  //-   .container.bg-light-blue
  //-     each post in posts
  //-       .row.g-0.bg-light.position-relative.m-5.p-5
  //-         h6= "Опубликовано " + post.date
  //-         if post.image
  //-           .col-12.col-md-6
  //-             img.image-post(src=post.image alt=post.name)
  //-         .box-post(class= (post.image ? 'col-md-6' : 'col-12') )
  //-           a(href=post.path)
  //-             h3.mt-0.text-green= post.name
  //-           .text-justify !{post.description}
  //-         a(href=post.path) Читать


  //- else 
  //-   p Новостей пока нет

  //- hr

  
