extends layout

block content
  h1= title
  
  h4.marck-script
    a(href="/shop/"+product.shop.path)= product.shop.name
  .container.p-0
    if (product.gallery && product.gallery.length) || product.image
      hr
      - var gallery= []
      if product.gallery && product.gallery.length
        - gallery = [...product.gallery]
      if product.image
        - gallery.push(product.image)
      .col-xs-12.col-sm-7.d-block
        .carousel.slide#gallery(data-bs-ride="carousel")
          .carousel-inner
            each item in gallery
              .carousel-item.anouncement-box.item-a
                img.d-block.img-cover.orange-border(src=item )
          if gallery.length > 1
            button.carousel-control-prev(type="button" data-bs-target="#gallery" data-bs-slide="prev")
              span.carousel-control-prev-icon(aria-hidden="true")
              span.visually-hidden Previous
            button.carousel-control-next(type="button" data-bs-target="#gallery" data-bs-slide="next")
              span.carousel-control-next-icon(aria-hidden="true")
              span.visually-hidden Next

    .col-12.col-sm-5
      #price.d-none= product.price
      h2.orange-text#priceBox 
        |  #{product.price} ₽

      if product.options && product.options.length 
        #priceSelects
          each option, i in product.options
            if option.variants && option.variants.length 
              h3.marck-script= option.name
              select.marck-script.form-select.form-select-lg(onchange="changeOptionSelect()" id=option._id)
                each variant in option.variants
                  option(value=variant.price id=variant._id)= variant.name

      h3.marck-script Количество
      .col-4
        input.form-control.marck-script(value="1" type="number" min="1")

      button.btn.btn-custom.mt-5 
        h5 Добавить в корзину

  if product.description
    hr
    p.col-12.text-justify !{product.description}

  hr

  script(src='/javascripts/product.js' type='text/javascript')