extends layout

block content
  h1= project.name
  h4.marck-script Реализация: #{project.date}
  if project.description
    hr
    p.text-justify.col-12 !{project.description}
  if project.gallery && project.gallery.length 
    hr
    - var gallery= []
    if project.gallery && project.gallery.length
      - gallery = [...project.gallery]
    if project.image
      - gallery.push(project.image)
    - var sliderId= 'ID'+project._id
    include includes/blur-slider

  if services && services.length
    hr
    h4.marck-script Мероприятия
    - var data = services
    - var bID = 'idBM'
    - var sID = 'idCM'
    - var rootPath = '/services/'
    include includes/multi-carusel
  
  if posts && posts.length
    hr
    h4.marck-script Новости
    - var data = posts
    - var bID = 'idBN'
    - var sID = 'idCN'
    - var rootPath = '/news/'
    include includes/multi-carusel

  if (project.tagsObjArray && project.tagsObjArray.length) || (project.partnersObjArray && project.partnersObjArray.length)
    hr
    .row
      if project.tagsObjArray && project.tagsObjArray.length
        .col-12.col-md-6
          h5 Теги:
          each p in project.tagsObjArray
            a.btn.btn-warning.marck-script.m-1.text-ellipsis-nowrap.mw-100= p.name

      if project.partnersObjArray && project.partnersObjArray.length
        .col-12.col-md-6
          h5 При поддержке:
          each p in project.partnersObjArray
            a.btn.btn-success.marck-script.m-1.text-ellipsis-nowrap.mw-100(href= p.url target="_blank")= p.name


  hr