extends layout

block content
  h1= project.name
  h4.marck-script Реализация: #{project.date}
  if project.description
    hr
    p.text-justify.col-12 !{project.description}
  if project.gallery && project.gallery.length 
    hr
    #carouselExampleControlsNoTouching.carousel.slide(data-bs-touch='false' data-bs-interval='false')
      .carousel-inner
        each item in project.gallery
          .carousel-item.item-a 
            .bg-blur-image(style="background-image: url("+item+");")
            img.container-gallery(src= item alt=project.name)
      if project.gallery.length > 1
        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControlsNoTouching' data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carouselExampleControlsNoTouching' data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next

  if (project.tagsObjArray && project.tagsObjArray.length) || (project.partnersObjArray && project.partnersObjArray.length)
    hr
    .row
      if project.tagsObjArray && project.tagsObjArray.length
        .col-12.col-md-6
          h5 Теги:
          each p in project.tagsObjArray
            a.btn.btn-warning.marck-script.m-1= p.name

      if project.partnersObjArray && project.partnersObjArray.length
        .col-12.col-md-6
          h5 Партнёры проекта:
          each p in project.partnersObjArray
            a.btn.btn-success.marck-script.m-1(href= p.url target="_blank")= p.name

  hr