extends layout

block content
  h2= title
  hr
  h3 Содержание
  each chapter, i in report.chapters 
    a.text-dark-blue(href= '#'+chapter._id)
      h4 #{i + 1} #{chapter.title}
    each section, j in chapter.sections 
      a.text-dark-blue(href= '#'+section._id)
        h5 #{j + 1} #{section.title}
  hr
  each chapter, i in report.chapters 
    if chapter.link 
      a.text-dark-blue(href= chapter.link, target="_blank")
        h3(id= chapter._id) #{i + 1} #{chapter.title}
    else
      h3(id= chapter._id) #{i + 1} #{chapter.title}
    .text-justify.col-12 !{chapter.content}
    each section, j in chapter.sections 
      if section.link
        a.text-dark-blue(href= section.link, target="_blank")
          h4(id= section._id) #{j + 1} #{section.title} 
      else
        h4(id= section._id) #{j + 1} #{section.title} 
      .text-justify.col-12 !{section.content}

  hr