extends layout

block content
  if services.active.length
    h1 Сейчас открыта запись
    hr
    .row.col-12.p-3
      .col-8.col-md-10 
        h4 Выбор летних активностей ДоброКолледжа
      .col-4.col-md-2
        a.orange-button(href='/services/good-college-summer') Заполнить
    hr
    each item in services.active
      .row.col-12.p-3
        .col-4.col-md-2 
          img.rounded.mx-auto.d-block.img-thumbnail.img-5.m-2(alt=item.name src=item.image )
        .col-8.col-md-5 
          h4= item.name
        .col-8.col-md-3
          h4 Доступно время
          p
            each single in item.date.single
              div.m-1= single.text_active
            each period in item.date.period
              div.m-1= period.text_active
        .col-4.col-md-2
          a.orange-button(href='/services/' + item.path) Записаться
      hr
    h2 Архив мероприятий
    h4.marck-script Сейчас запись не ведётся
    - data = services.inactive
    - bID = 'idB'+index
    - sID = 'idC'+index
    - rootPath = '/services/'
    include includes/multi-carusel
  

