extends layout

block content
  section.about
    .container
      .row.mx-xl-5
        .col-6.back__subtitle-top
          a.back__subtitle-child(href='https://centervnl.ru/services/') Мероприятия
        .col-6.back__subtitle-top.text-end 
          +share("/services/"+service.path, service.name)

        .col-12.header__subtitle.title Регистрация

    - gallery = (service.gallery && service.gallery.length) ? [...service.gallery] : []
      if service.image
        - gallery.unshift(service.image)
      if gallery.length
        .container.mt-5.mb-3
          +slider(gallery)

    .container
      .row.mx-xl-5  
        h1.title-700-32.mt-5= service.name

      .row.mx-xl-5
        .target__text.mt-5
          +long-text(service.description)

      .row.mx-xl-5
        if service.address
          .target__text.mt-3.mb-3
            .title-700-16= service.address

    .container
      
      if !service.is_partner && service.dates && service.dates.length
        form#form.row.mx-xl-5(action="/services" method="post")
          .col-12.col-md-6.mt-3
            .text-400-16 Имя
            //- input.d-none(name="q_name" value="Имя")
            input.text-input.mt-2(type='text' name='name' autocomplete='given-name' placeholder="Например, Иван" required)

          .col-12.col-md-6.mt-3
            .text-400-16 Фамилия
            //- input.d-none(name="q_surname" value="Имя")
            input.text-input.mt-2(type='text' name='surname' autocomplete='family-name' placeholder="Например, Федоров" required)
          
          .col-12.col-md-6.mt-3
            .text-400-16 Отчество
            input.text-input.mt-2(type='text' name='patronymic' autocomplete='additional-name' placeholder="Например, Сергеевич")
          
          .col-12.col-md-6

          .col-12.col-md-6.mt-3
            .text-400-16 Телефон
            input.text-input.mt-2.check-tel(type='tel' name='tel' autocomplete='tel' placeholder="Например, +7 916 953 83 38")
            .mt-2
              input#check2.form-check-input.no-tel(type='checkbox' value='Нет телефона' name='tel')
              label.form-check-label(for='check2') Нет телефона

          .col-12.col-md-6.mt-3
            .text-400-16 Email
            //- input.d-none(name="q_email" value="Email")
            input.text-input.mt-2.check-email(type='email' name='email' autocomplete='email' placeholder="Например, example@mail.ru")
            .mt-2
              input#check1.form-check-input.no-email(type='checkbox' value='Нет email' name='email')
              label.form-check-label(for='check1') Нет email
          
          input.d-none(name='service' value=service._id)
          .col-12.mt-3
            .text-400-16 Дата записи
            .row 
              - service.dates.sort((a, b) => Date.parse(a.date) - Date.parse(b.date))
              each date, index in service.dates
                .col-12.col-sm-6.col-md-3.mt-2
                  input.form-check-input(type='radio' name='date' value=String(date.date) id='defaultRadio'+index disabled=(service.peopleLimit<=date.count) checked=(user_date==date.text) required=true)
                  label.form-check-label.d-inline(for='defaultRadio'+index)= date.text

          .col-12.mt-3
            .text-400-16 Отметьте, что к вам относится
            .row 
              .col-12.col-sm-6.col-md-3.mt-2
                input#defaultCheck1.form-check-input.role-input(type='radio' value='Родитель' name='roles')
                label.form-check-label(for='defaultCheck1') Родитель

              .col-12.col-sm-6.col-md-3.mt-2
                input#defaultCheck2.form-check-input.role-input(type='radio' value='Волонтер' name='roles')
                label.form-check-label(for='defaultCheck2') Волонтер

              .col-12.col-sm-6.mt-2
                input#defaultCheck3.form-check-input.role-input(type='radio' value='Молодой взрослый' name='roles')
                label.form-check-label(for='defaultCheck3') Молодой взрослый

              .col-12.col-sm-6.col-md-3.mt-2
                input#defaultCheck4.form-check-input.role-input(type='radio' value='Специалист' name='roles')
                label.form-check-label(for='defaultCheck4') Специалист

              .col-12.col-sm-6.col-md-3.mt-2
                input#defaultCheck5.form-check-input.role-input(type='radio' value='Ребенок' name='roles')
                label.form-check-label(for='defaultCheck5') Ребенок

              .col-12.col-sm-6.mt-2
                input.text-input#other-role(type='text' name='roles' placeholder='Другое (укажите)')

          .mt-4 
            .col-12.mt-2 
              span.text-400-16 Нажимая на кнопку, вы даете 
                a(href='/policy' target="_blank") согласие на обработку своих персональных данных

          .mt-4
            button.button.button_orange(type='submit') Зарегистрироваться

      else if service.is_partner && service.dates && service.dates.length
        .row.mx-xl-5
          .mt-4 
            .col-12.mt-2 
              span.text-400-16 Внимание! Данное мероприятие проводится на нашими партнёрами, поэтому просим зарегистрироваться на их сайте. Количество мест может быть ограничено. Если вы понимаете, что не сможете прийти, просим сообщить об этом организаторам мероприятия.

            .mt-4
              a.button.button_blue(href=service.url target='_blank') Зарегистрироваться  

      else
        .row.mx-xl-5  
          .title-700-16 Мероприятие уже прошло, следите за анонсами!

block scripts
  script(src='/javascripts/valid-form.js')
  script(src='/javascripts/event-form.js')

