extends layout

block content
  .row
    .col-10.col-sm-11
      h1= shop.name
    .col-2.col-sm-1
      if !!user && !!bin
        button.btn.btn-custom#add-to-bin(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight')
          i.fa-solid.fa-cart-shopping#order-bin #{' ' + bin.products.length}
        include includes/bin
  hr
  
  .col-12#shop_container
    each product in products 
      .col-sm-6.col-md-4.col-lg-3.col-xs-12
        .product__border
          a.product__inner(href='/product/'+product.path)
            .product__group
              h5.text-ellipsis.mh-h5-2.text-green #{product.group}
            .product__image
              img.img__product(src=(product.image ? product.image : '/images/box-icon.svg') alt=product.name)
            .product__text
              h4.product__price.orange-text #{product.options && product.options.length ? 'От' : ''} #{product.price} ₽
              h4.product__content.marck-script.text-green #{product.name}

  #showmore-triger(data-page="0")
    .text-center
      .spinner-border.text-warning(style='width: 5rem; height: 5rem;')
        span.sr-only Loading...

  script(src='/javascripts/shop-ajax.js' type='text/javascript')
                
              
  
