extends layout

block content
  h1 Наша команда
  each staff in team 
    .col-12.m-2.p-3 
      .row.grey-container
        .col-4.col-md-2 
          img.rounded.mx-auto.d-block.img-thumbnail.img-7.m-2(alt=staff.name src=staff.image )
        .col-8.col-md-10 
          h3 #{staff.name} #{staff.surname}
          if staff.position
            h3.marck-script #{staff.position}

          h5.text-justify #{staff.description}
