extends layout

block content

  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-root(href='https://centervnl.ru/about/') О нас
          svg.news__link-image(width='20' height='5' viewBox='0 0 20 5' fill='none' xmlns='http://www.w3.org/2000/svg')
            path.news__link-image(fill-rule='evenodd' clip-rule='evenodd' d='M17.1044 5L19.6044 2.5L17.1044 0V2H0V3H17.1044V5Z' fill='#656973')
          a.back__subtitle-child(href='https://centervnl.ru/team/') 
            |  Наша команда
        h1.col-12.header__subtitle.title= `${staff.name} ${staff.surname}`
        h2.col-12.title-700-20.title-700-20-light.mt-2= staff.position
        h3.col-12.text-400-16.mt-3= staff.education
        if staff.degree 
          h4.col-12.text-400-16.mt-3= staff.degree 
        
        if staff.image
          .col-12.col-md-6.mt-4
            img.review__image(src= staff.image alt= staff.name)

        .mt-4 
          +long-text(staff.description)

        if staff.publications
          .col-10
            a.button.button_orange.mt-5(href=staff.publications target="_blank") Научные публикации

        if staff.networks && Object.keys(staff.networks).length
          .text-400-16.mt-5= `${staff.name} в социальных сетях:` 
            if staff.networks.vk
              a.ms-4(href=staff.networks.vk target="_black")
                img(src='/icons/header/vk_orange.svg' alt='vk')
            if staff.networks.tg
              a.ms-4(href=staff.networks.tg target="_black")
                img(src='/icons/header/telegram_orange.svg' alt='telegram')