extends layout

block content

  section.about
    .container
      .row.mx-xl-5
        .col-12.back__subtitle-top
          a.back__subtitle-root(href='/about/') О нас
          svg.news__link-image(width='20' height='5' viewBox='0 0 20 5' fill='none' xmlns='http://www.w3.org/2000/svg')
            path.news__link-image(fill-rule='evenodd' clip-rule='evenodd' d='M17.1044 5L19.6044 2.5L17.1044 0V2H0V3H17.1044V5Z' fill='#656973')
          a.back__subtitle-child(href='/team/') 
            |  Наша команда
        .col-12.header__subtitle.title= `${staff.name} ${staff.surname}`
        .col-12.title-700-20.title-700-20-light.mt-2= staff.position
        .col-12.text-400-16.mt-3= staff.education
        if staff.degree 
          .col-12.text-400-16.mt-3= staff.degree 
        
        if staff.image
          .col-12.mt-4
            img.review__image(src= staff.image alt= staff.name)

        .mt-4 
          +long-text(staff.description)