mixin long-text(text)
  if text 
    div !{text.split('\n').join('<br>')}



mixin slider(gallery)
  .carousel.slide(data-bs-touch='false' data-bs-interval='false' id='slider')
    .carousel-inner
      each item in gallery
        .carousel-item.item-a 
          img.slider__image(src= item alt='bg')
          
    if gallery.length > 1
      button.carousel-control-prev(type='button' data-bs-target='#slider' data-bs-slide='prev')
        svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='30' cy='30' r='30' fill='#02B2B6')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M22.5001 28L20.0001 30.5L22.5001 33L22.5001 31L39.6045 31L39.6045 30L22.5001 30L22.5001 28Z' fill='white')


      button.carousel-control-next(type='button' data-bs-target='#slider' data-bs-slide='next')
        svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='30' cy='30' r='30' transform='rotate(-180 30 30)' fill='#02B2B6')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M37.4999 32L39.9999 29.5L37.4999 27L37.4999 29L20.3955 29L20.3955 30L37.4999 30L37.4999 32Z' fill='white')

mixin video(url)
  .col-12.d-flex.justify-content-center
    iframe(width='640' height='360' src=url+"?enablejsapi=1&origin=https://centervnl.ru" frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
    

mixin share(path, text)
  a.ms-4(href="https://t.me/share/url?url=https://centervnl.ru"+path+"&text="+text target="_blank")
    img(src="/icons/share/telegram.svg")
  a.ms-4(href="https://vk.com/share.php?url=https://centervnl.ru"+path+"&text="+text target="_blank")
    img(src="/icons/share/vk.svg")


mixin post(post, url='')
  .news__item.row.pb-2.pt-2
    if post.image
      a.col-12.col-lg-5.news__img(href=url+post.path)
        img.news__image(src=post.image alt=post.name)
    .col-12.col-lg.d-flex.flex-column.justify-content-between.news__text
      .news__date= post.date
      a.news__subtitle(href=url+post.path)= post.name
      p.std__descr.rows-4= post.description
      a.news__link(href=url+post.path)
        | Подробнее
        svg.news__link-image(width='20' height='5' viewBox='0 0 20 5' fill='none' xmlns='http://www.w3.org/2000/svg')
          path.news__link-image(fill-rule='evenodd' clip-rule='evenodd' d='M17.1044 5L19.6044 2.5L17.1044 0V2H0V3H17.1044V5Z' fill='#FFA556')


mixin phrase(item)
  .col-12.col-md-6.col-lg-3.review__item.mb-4
    .review__img
      img.review__image(src=item.image alt='review')
    .review__descr= "«"+item.description+"»"
    .review__name= item.name


mixin program-project(item)
  a.col-12.col-lg-6.mb-3(href='/programs/'+program.path+'/'+item.path)
    if item.image
      img.program__image.mb-3(src=item.image alt=item.name)
    .row 
      .col-12.d-flex.flex-column.justify-content-between
        .program__subtitle= item.name

      .col-12.program__text.mt-3.mb-2.rows-4
        +long-text(item.description)